:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  margin: 3rem;
  width: 100%;
  text-align: center;
}

label {
  text-align: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 916px;
  width: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  aspect-ratio: 1/1;
  flex-direction: column;
  position: relative;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}

h1,
h2,
h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-weight: 400;
}

img {
  margin: 1rem;
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.email {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

input[type='Submit'] {
  padding: 0.5rem 0.75rem;
  font-weight: 800;
}

@media (max-width: 1000px) {
  #cards {
    max-width: 1000px;
    padding: 10px 0;
  }

  .card {
    flex-shrink: 1;
    height: 30%;
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}
